<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	
        <defaultDocument>
            <files>
				<clear />                
            </files>
        </defaultDocument>
		
		<rewrite>
            <rules>
                <rule name="LowerCaseRule1" enabled="false" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{URL}" pattern="[A-Z]" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="{ToLower:{URL}}" redirectType="Temporary" />
                </rule>                  
            </rules>
        </rewrite>	
		
        <handlers>
			<clear />
			<!-- Ajout d'un Gestionnaire de Mappage spécifique à la version nécessaire de Python pour le site en cours -->
            <add name="##poolName##_FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="##exeFastCGIPath####exeFastCGI##|##wfastcgiFile##" resourceType="Unspecified" requireAccess="Script" />
			<add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
        </handlers>	
    </system.webServer>
	<!-- Configuration des variables d'environnement inhérentes au site en cours, 
	qui seront passées au script FastCGI via le Gestionnaire de Mappage -->
    <appSettings>
        <add key="WSGI_HANDLER" value="##WSGI_HANDLER##" />
        <add key="PYTHONPATH" value="##PYTHON_PATH##" />
        <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.php)|(\.py)|(\.config))$" />
        <add key="WSGI_LOG" value="##ProjectPath##\wfastcgi.log" />
        <add key="_SCRIPT_NAME" value="/##SCRIPT_NAME##" />
		<add key="DJANGO_SETTINGS_MODULE" value="##DJANGO_SETTINGS_MODULE##" />
    </appSettings>
</configuration>
